# ===============================
# Node / React
# ===============================
node_modules/
dist/
.env
.env.local

# ===============================
# Python
# ===============================
venv/
__pycache__/
*.pyc
.env

# ===============================
# Java / Spring Boot
# ===============================
target/
*.log
*.class
.idea/
*.iml

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
